<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Morgen Pence's Portfolio</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project-entry">
            <h3><a href="https://github.com/MAPence/DadBodsUnite.git" target="_blank">DadBodsUnite</a></h3>
            <img src="path/to/thumbnail.jpg" alt="DadBodsUnite Project Thumbnail">
            <p>DadBodsUnite is an app designed for use in taprooms and restaurants. It functions as an order management and layout app, allowing users to take orders from an Android device. Kitchen staff can read and modify orders, while management can place food and drink orders to restock inventory. Additionally, the app tracks staff clock-in/out times and manages payroll for administrators.</p>
            <ul>
                <li>Taproom Floor Service</li>
                <li>Kitchen Order Management</li>
                <li>Admin Inventory Management and Payroll</li>
            </ul>
            <p>Technologies Used: Java, Kotlin, Android Studio, etc.</p>
            <br />
            <h3>Project Screenshots</h3>
            <div class="project-images">
                <img src="C:\Users\morge\Pictures\Screenshots\dbulogin.png" alt="Log In Screen">
                <img src="C:\Users\morge\Pictures\Screenshots\dbuadmin.png" alt="Admin Menu">
                <img src="C:\Users\morge\Pictures\Screenshots\dbuadminset.png" alt="Menu Settings">
            </div>
            <div class="badges">
               
            </div>
            <div class="video-demo">
                <iframe src="path/to/video" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <footer>
        <p>Contact: <a href="mailto:morgenpence@gmail.com">morgenpence@gmail.com</a></p>
    </footer>
</body>
</html>